.navbar1{
    height: 40px;
    background-color: whitesmoke;
}
.himg{
    height: 20px;
}
.n11{
    margin-left: 70px;
    height: 40px;
    float:left;
    display: flex;
}
.hnav1{
    margin-top: 6px;
    height:50px;
    margin-right: 12px;
}
.n12
{
    float:right;
    
}